*~
.*.swp
!output/
*.blg



*.docx

## Core latex/pdflatex auxiliary files:
*.aux
*.bcf
*.bbl
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.run.xml
*.synctex.gz
*.synctex


example.tex
