*~
.*.swp
!output/
*.blg

# Python environment files
/env/*


*.pdf
!pranav_kumar_mishra_cv.pdf
*.docx

## Core latex/pdflatex auxiliary files:
*.aux
*.bcf
*.bbl
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.run.xml
*.synctex.gz
*.synctex


example.tex
