*~
.*.swp
output/
*.blg


*.pdf

## Core latex/pdflatex auxiliary files:
*.aux
*.bcf
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.run.xml
*.synctex.gz

CV.bib
leonardo_uieda_cv_summary.tex